.DS_STORE
*.ipr
*.iml
*.iws
web/
lib/*.zip
version.properties
.sass-cache
swagger-ui.sublime-workspace
.idea
.project
node_modules/*
/nbproject/private/
dist/
src/main/html/css/
!src/main/html/css/index.css
!src/main/html/css/api-explorer.css
!src/main/html/css/standalone.css
