<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>

            <div class="token-generator hide">
                <input type="hidden" autocorrect="off" class="ui-form-control" id="input_baseUrl"
                       placeholder="http://example.com/api">
                <input type="hidden" autocorrect="off" class="ui-form-control" id="input_apiKey"
                       placeholder="Enter api key or token">

            </div>
            <div data-navigator>
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Swagger resource <span class="status"></span></div>
                </div>
                <div id="resources_nav">
                </div>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed"></ul>
</div>
